:root {
    --main-bg-color: #F8F7F2;
    --logo-color: white;
    --logo-bg-color: rgba(0, 0, 0, 0.5);
    --main-text-color: #2C2C2A;
    --highlight-color: #8497EE;
    --field-border-color: #EAEAEA;
    --pop-color: #FB7E14;
    --button-hover-color: #D6711C;
    --button-active-color: #FF9C48;
    --font-size-l: 1.3rem;
    --font-size-s: 0.8rem;
}

@font-face {
    font-family: "ubuntu";
    src:
        url("fonts/ubuntu-regular-webfont.woff"),
        url("fonts/ubuntu-regular-webfont.woff2");
    font-weight: normal;
    font-size: normal;
}

@font-face {
    font-family: "ubuntu";
    src:
        url("fonts/ubuntu-bold-webfont.woff"),
        url("fonts/ubuntu-bold-webfont.woff2");
    font-weight: bold;
    font-size: normal;
}

@font-face {
    font-family: "ubuntu";
    src:
        url("fonts/ubuntu-italic-webfont.woff"),
        url("fonts/ubuntu-italic-webfont.woff2");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "kanit";
    src:
        url("fonts/kanit-regular-webfont.woff"),
        url("fonts/kanit-regular-webfont.woff2");
    font-weight: normal;
    font-size: normal;
}

@font-face {
    font-family: "kanit";
    src:
        url("fonts/kanit-bold-webfont.woff"),
        url("fonts/kanit-bold-webfont.woff2");
    font-weight: bold;
    font-size: normal;
}

@font-face {
    font-family: "kanit";
    src:
        url("fonts/kanit-italic-webfont.woff"),
        url("fonts/kanit-bolditalic-webfont.woff2");
    font-weight: normal;
    font-style: italic;
}

body {
    font: 1rem "ubuntu";
    margin: 0;
    padding: 0;
}

.page-container {
    background-color: var(--main-bg-color);
    display: flex;
}

.left-container {
    position: relative;
    min-width: 30rem;
    max-width: 30vw;
    height: 100vh;
    margin: 0;
    flex: 1 1 1;
    overflow: hidden;
}

.right-container {
    align-self: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.logo-container {
    width: 100%;
    position: absolute;
    top: 12vh;
    background-color: var(--logo-bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.intro-container,
.form-container,
.create-container {
    padding-left: 2rem;
}

.form-container {
    background-color: white;
    width: 100%;
    padding-bottom: 2rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

input {
    border: 1px solid var(--field-border-color);
}

.form-title {
    padding: 2rem 0;
}

.form-row {
    display: flex;
    gap: 3rem;
}

.field-container {
    font-size: var(--font-size-s);
    display: flex;
    flex-direction: column;
}

#logo-image {
    width: 10rem;
    height: 10rem;
}

#logo-text {
    color: var(--logo-color);
    font: 3.5rem "kanit";
}

#background-image {
    height: 100vh;
    margin: 0;
    padding: 0;
    z-index: -1;
}

.photo-credit-container {
    position: absolute;
    width: 100%;
    bottom: 5vh;
    display: flex;
    justify-content: center;
}

.photo-credit-container a {
    color: white;
}

#photo-credit {
    color: var(--logo-color);
    font-size: 0.8rem;
}

.form-title,
#intro-text {
    font-size: var(--font-size-l);
    font-weight: 700;
}