:root {
    --main-bg-color: #F8F7F2;
    --logo-color: white;
    --logo-bg-color: rgba(0, 0, 0, 0.6);
    --main-text-color: #2C2C2A;
    --highlight-color: #8497EE;
    --pop-color: #FB7E14;
    --button-hover-color: ;
    --button-active-color: ;
}

@font-face {
    font-family: "ubuntu";
    src:
        url("fonts/ubuntu-regular-webfont.woff"),
        url("fonts/ubuntu-regular-webfont.woff2");
    font-weight: normal;
    font-size: normal;
}

@font-face {
    font-family: "ubuntu";
    src:
        url("fonts/ubuntu-bold-webfont.woff"),
        url("fonts/ubuntu-bold-webfont.woff2");
    font-weight: bold;
    font-size: normal;
}

@font-face {
    font-family: "ubuntu";
    src:
        url("fonts/ubuntu-italic-webfont.woff"),
        url("fonts/ubuntu-italic-webfont.woff2");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "kanit";
    src:
        url("fonts/kanit-regular-webfont.woff"),
        url("fonts/kanit-regular-webfont.woff2");
    font-weight: normal;
    font-size: normal;
}

@font-face {
    font-family: "kanit";
    src:
        url("fonts/kanit-bold-webfont.woff"),
        url("fonts/kanit-bold-webfont.woff2");
    font-weight: bold;
    font-size: normal;
}

@font-face {
    font-family: "kanit";
    src:
        url("fonts/kanit-italic-webfont.woff"),
        url("fonts/kanit-bolditalic-webfont.woff2");
    font-weight: normal;
    font-style: italic;
}

body {
    font: 1rem "ubuntu";
    margin: 0;
    padding: 0;
}

.page-container {
    display: flex;
}

.left-container {
    position: relative;
    min-width: 30rem;
    max-width: 60rem;
    height: 100vh;
    margin: 0;
    flex: 1 1 1;
    overflow: hidden;
}

.right-container {
    width: 60vw;
    flex: 3 1 auto;
}

.logo-container {
    width: 100%;
    position: absolute;
    top: 13vh;
    padding: 1rem 0;
    background-color: var(--logo-bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

#logo-image {
    width: 10rem;
    height: 10rem;
}

#logo-text {
    color: var(--logo-color);
    font: 3.5rem "kanit";
}

#background-image {
    height: max(50rem, 100vh);
    margin: 0;
    padding: 0;
    z-index: -1;
}

.photo-credit-container {
    position: absolute;
    width: 100%;
    bottom: 5vh;
    display: flex;
    justify-content: center;
}

.photo-credit-container a {
    color: var(--pop-color);
}

#photo-credit {
    color: var(--logo-color);
    font-size: 0.8rem;
}