@font-face {
    font-family: "ubuntu";
    src:
        url("fonts/ubuntu-regular-webfont.woff"),
        url("fonts/ubuntu-regular-webfont.woff2");
    font-weight: normal;
    font-size: normal;
}

@font-face {
    font-family: "ubuntu";
    src:
        url("fonts/ubuntu-bold-webfont.woff"),
        url("fonts/ubuntu-bold-webfont.woff2");
    font-weight: bold;
    font-size: normal;
}

@font-face {
    font-family: "ubuntu";
    src:
        url("fonts/ubuntu-italic-webfont.woff"),
        url("fonts/ubuntu-italic-webfont.woff2");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "kanit";
    src:
        url("fonts/kanit-regular-webfont.woff"),
        url("fonts/kanit-regular-webfont.woff2");
    font-weight: normal;
    font-size: normal;
}

@font-face {
    font-family: "kanit";
    src:
        url("fonts/kanit-bold-webfont.woff"),
        url("fonts/kanit-bold-webfont.woff2");
    font-weight: bold;
    font-size: normal;
}

@font-face {
    font-family: "kanit";
    src:
        url("fonts/kanit-italic-webfont.woff"),
        url("fonts/kanit-bolditalic-webfont.woff2");
    font-weight: normal;
    font-style: italic;
}

body {
    font: 1rem "ubuntu";
    margin: 0;
    padding: 0;
}

.page-container {
    display: flex;
}

.left-container {
    position: relative;
    min-width: 30rem;
    max-width: 60rem;
    height: 100vh;
    margin: 0;
    flex: 1 1 1;
    overflow: hidden;
}

.right-container {
    width: 60vw;
    flex: 3 1 auto;
}

.logo-container {
    width: 100%;
    position: absolute;
    top: 25vh;
    padding: 1rem 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

#logo-image {
    width: 10rem;
    height: 10rem;
}

#logo-text {
    color: white;
    font: 3.5rem "kanit";
}

#background-image {
    height: max(50rem, 100vh);
    margin: 0;
    padding: 0;
}